<h1>Dörr aufträge</h1>

<button mat-raised-button (click)="createNewParchOrder()">Neuen Derrungs auftrag erfassen</button>

<mat-table #table [dataSource]="dataSource">

	<!-- Position Column -->
	<ng-container matColumnDef="isOnTime">
		<mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
		<mat-cell *matCellDef="let element" class="status">
			<img *ngIf="element.isOnTime" src="../../../assets/apple.png" alt="">
			<img *ngIf="!element.isOnTime" src="../../../assets/foul.png" alt="">
		</mat-cell>
	</ng-container>

	<!-- Position Column -->
	<ng-container matColumnDef="forename">
		<mat-header-cell *matHeaderCellDef> Vorname</mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.forename}}</mat-cell>
	</ng-container>

	<!-- Name Column -->
	<ng-container matColumnDef="lastname">
		<mat-header-cell *matHeaderCellDef> Nachname</mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.lastname}}</mat-cell>
	</ng-container>

	<!-- Name Column -->
	<ng-container matColumnDef="fruit">
		<mat-header-cell *matHeaderCellDef> Frucht</mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element.fruit}}</mat-cell>
	</ng-container>

	<!-- Name Column -->
	<ng-container matColumnDef="edit">
		<mat-header-cell *matHeaderCellDef> Bestellung bearbeiten</mat-header-cell>
		<mat-cell *matCellDef="let element">
			<button mat-icon-button class="edit-icon" (click)="editParchOrder(element.parchOrder)">
				<mat-icon aria-label="Edit">edit</mat-icon>
			</button>
		</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>